/* CSS sheet for Basic-Profile page*/



* {
  box-sizing: border-box;
}


/* background for all the page */
body{
background-image: url("../images/white_brick_wall.png");
}
/* for Displaying the name*/
#Logo{
	position: absolute;
	background: #4aaaa5;
	padding: 30px;
	height:80px;
	width:30%;
	text-align: center;
	/*top: 10px;
	left: 100px;*/
	font-size: 25px;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 

}


/*header background color */
header{
	clear: both;
	background-color: #ffffff;
	border-spacing: 5px;	
}

nav.header_content{
	/*left:100px;*/
	width: 960px;
	margin: auto;

}

/* To navigate between pages */
ul{
	list-style-type: none;
	float: right;
}
li{
	float:left;
}

li a {
       display: block;
       width: 90px;
       background-color: white;
       border: 1px; /* solid red; */
       padding: 10px;
       font-family: "Georgia", "Times New Roman", Times, serif;
       color: gray;
       text-align: center;
       text-decoration: none;
       font-size: 15px;
}

/*Box to hold the navigation bar and logo*/

.navigation{
	background-color: #ffffff;
	padding-right: 100px;
	padding-left: 100px;
	height:100px;
	border: 10px solid #eee;
	font-family: "Georgia", "Times New Roman", Times, serif;
}


.container{
	width: 960px;
	/*position: relative;
	left:100px; */
	margin: 100px auto;
	/*float: left;*/
}


.heading_inside{
	text-align: center;
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 30px;
}
/*The main content for about me  page*/

#mainbox {
	float: left;
	width: 650px;
	height: 425px;
	position: relative;
	background: #ffffff;
	padding: 20px;
	top: -15px;
	left: 0px;
	text-align: center;
	overflow: scroll;
}

#wrapper {
    float: left;
    margin: 0 auto;
    text-align: left;
}


/* Classes for contact box */
#contactbox {
	float: left;
	width: 270px;
	height: 200px;
	position: relative;
	background: #ffffff;
	padding: 20px;
	left:60px;
 	text-align: center;
}

/*for contact icons*/

img {
	float: left;
	/*margin-right: 10px;*/
}

/* Footer */
footer {
	background: #666666;
	clear: both;
	text-align: center;
	height:75px;

}

/*contact page forms*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    place
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
}

textarea{
	width: 100%;
	height:100px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
   /* cursor: pointer; */
}


/*   portfolio   */


.box_to_hold_pic{
	float: left;
	position: relative;
	height: 250px;
	width: 250px; 
	border: 2px;/* solid red;*/
	padding: 25px;
	margin-right: 20px;
	z-index: 1;
}

.banner{
	position: absolute;
	height: 40px;
	width: 208px;
	top: 175px;
	left: 22px;
	background-color: #4aaaa5;
	z-index: 2;
	font-size: 25px;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 
	border: 2px;/* solid red;*/
}