/* CSS sheet for Basic-Profile page*/



* {
  box-sizing: border-box;
}


/* background for all the page */
body{
background-image: url("../images/white_brick_wall.png");
}


/* for Displaying the name*/
#Logo{
	position: absolute;
	background: #4aaaa5;
	padding: 30px;
	height:80px;
	width:25%;
	text-align: center;
	font-size: 25px;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 

}


/*header background color */
header{
	clear: both;
	background-color: #ffffff;
	border-spacing: 5px;	
}

nav.header_content{
	width: 960px;
	margin: auto;

}

/* To navigate between pages */
ul{
	padding-top: 45px;
	list-style-type: none;
	float: right;
}
li{
	float:left;
}

li a {
       display: block;
       width: 90px;
       background-color: white;
       border: 1px; /* solid red; */
       padding: 10px;
       font-family: "Georgia", "Times New Roman", Times, serif;
       color: gray;
       text-align: center;
       text-decoration: none;
       font-size: 15px;
}

/*Box to hold the navigation bar and logo*/

.navigation{
	background-color: #ffffff;
	padding-right: 100px;
	padding-left: 100px;
	height:100px;
	border: 10px solid #eee;
	font-family: "Georgia", "Times New Roman", Times, serif;
}



/* Center the Main content in all pages*/

.container{
	width: 960px;
	margin: 50px auto;
}


h1{
	text-align:left;
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bolder;
	font-size: 25px;
	padding-top: 6px;
	padding-bottom: 15px;
}


/*The main content for all page */

#mainbox {
	float: left;
	width: 650px;
	height: auto;
	background: #ffffff;
	padding: 20px;
	margin-bottom: 100px;
	top: -15px;
	left: 0px;
	text-align: center;
}


/*Picture of the About me page*/

img.about_page {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	border-style: double;
	border: 2px solid #4aaaa5; 
}

/*Writing for about me page */
p{
	line-height: 1.5;
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Classes for contact box or the side bar*/
#contactbox {
	float: left;
	width: 270px;
	position: relative;
	background: #ffffff;
	padding: 20px;
	left:40px;
 	text-align: center;
}

/* heading for the sidebar */

h3.sidebar_header{
	color: #4aaaa5;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-weight: bolder;
	font-size: 15px;
	padding-top: 4px;
	padding-bottom: 8px;

}


/*icon size*/

img.icon_size{
	/*float: left;*/
	width:50px;
	height: 50px;
	margin: 5px;
}




/* Footer */
footer {
	background: #666666;
	clear: both;
	position: fixed;
	height:50px;
	width: 100%;
	border-top: 3px solid #4aaaa5;
	bottom:0px;
	left:0;

	text-align: center;
	padding-top: 20px;

	color: white;
	font-size: 8px;
	font-family:"Georgia", Times, "Times New Roman", serif; 


	z-index: 2;

}

/*contact page forms*/


/* align the lables to left */
.lable_align{
	text-align: left;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
}

.name,
.email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

textarea.message{
	width: 100%;
	height:100px;
	border: 2px solid #ccc;
	padding: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input input[type=submit]{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
   /* cursor: pointer; */
}





/*   portfolio   */


.box_to_hold_pic{
	float: left;
	position: relative;
	height: 250px;
	width: 250px; 
	border: 2px;/* solid red;*/
	padding: 25px;
	margin-right: 20px;
	z-index: 0;
}

.banner{
	position: absolute;
	height: 40px;
	width: 208px;
	top: 175px;
	left: 22px;
	background-color: #4aaaa5;
	z-index: 1;
	border: 2px;
}

h3.bannertext{
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 20px;
	font-weight: lighter;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 
	
}
