/* CSS sheet for Basic-Profile page*/



* {
  box-sizing: border-box;
}

/* for Displaying the name*/
#Logo{
	position: absolute;
	background: #4aaaa5;
	padding: 15px;
	text-align: center;
	top: 30px;
	left: 100px;
	font-size: 25px;
	color:white;
	font-family: "Georgia", "Times New Roman", Times, serif; 

}

/*header background color */
header{
	clear: both;
	background-color: #ffffff;
	border-spacing: 5px;	
}

/* To navigate between pages */
.navigation{
	background-color: #ffffff;
	padding-right: 100px;
	height:100px;
	padding-top: 30px;
	border: 10px solid #eee;
	text-align: right;
	font-family: "Georgia", "Times New Roman", Times, serif;
}

.container{
	width: 960;
	position: relative;
	left:100px;
	float: left;
}


.heading_inside{
	text-align: center;
	color: #4aaaa5;
	font-style: 'Georgia', Times, Times New Roman, serif;
	font-size: 20;
}
/*The main content for about me  page*/

#mainbox {
	float: left;
	width: 650px;
	height: 425px;
	position: relative;
	background: #ffffff;
	padding: 20px;
	top: -15px;
	left: 0px;
	text-align: center;
	overflow: scroll;
}

#wrapper {
    float: left;
    margin: 0 auto;
    text-align: left;
}

/*
.box_image {
	border: 1px solid black;
    padding: 10px 10px 10px 10px;	
}
*/
/* Classes for contact box */
#contactbox {
	float: left;
	width: 200px;
	height: 200px;
	position: relative;
	background: #ffffff;
	padding: 20px;
	left:60px;
 	text-align: center;
}

/*for contact icons*/

img {
	float: left;
	padding: 0 20px 10px 10px;
}

/* Footer */
footer {
	background: #666666;
	clear: both;
	text-align: center;
	height:75px;

}

/*contact page forms*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    place
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
}

input[type=textarea], select {
	width: 100%;
	height:100px;
	padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
   /* cursor: pointer; */
}

